@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@import url('./style.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.book-now {
  padding: 10px 40px;
  border: none;
  background-color: #3B71FE;
  box-shadow: 0px 5px 20px rgba(20, 92, 230, 0.14);
  border-radius: 23px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 30px;
  cursor: pointer;
}

.dropdown-content.open {
  display: block;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 24px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: #E7ECF3 !important;
}

.css-j204z7-MuiFormControlLabel-root {
  display: block !important;
  max-width: 290px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #145CE6 !important;
}

.css-187mznn-MuiSlider-root {
  padding: 6px 0 !important;
  width: 200px !important;
  height: 6px !important;
  margin-top: 50px;
}

.css-14pt78w-MuiSlider-rail {
  background-color: #E9EDF1 !important;
  border-radius: 3.0435px !important;
}

.css-1gv0vcd-MuiSlider-track {
  background-color: #316BFF !important;
}

.css-eg0mwd-MuiSlider-thumb {
  width: 16px !important;
  height: 16px !important;
  background-color: #316BFF !important;
}

.css-1s2u09g-control {
  background-color: transparent !important;
  border-color: none !important;
  border-radius: 0 !important;
  border-style: none !important;
  min-height: 20px !important;
}

.css-1pahdxg-control {
  background-color: transparent !important;
  border-color: none !important;
  border-radius: 0 !important;
  border-style: none !important;
  border-width: 0 !important;
  box-shadow: none !important;
  min-height: 20px !important;
}

.css-319lph-ValueContainer {
  padding: 0 !important;
}

.css-14el2xx-placeholder {
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B1B5C4 !important;
}

.css-6j8wv5-Input {
  margin: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.css-1hb7zxy-IndicatorsContai {
  display: none;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

#react-select-3-listbox {
  width: 350px;
  background-color: #FFFFFF !important;
  border: 1px solid #F4F5F6 !important;
  box-shadow: 0px 12px 60px rgba(89, 89, 89, 0.1) !important;
  border-radius: 20px !important;
}

.date-picker {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.date-picker::placeholder {
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #B1B5C4;
}

.react-datepicker__input-container {
  position: none !important;
}

._1mUok1yqu_fHkbNOXVoU6l.kpm_bank-card-button.kpm_gray-key-icon {
  display: none !important;
}

.number {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.go-home {
  display: inline-block;
  padding: 13.5px 36.5px;
  background: #3B71FE;
  border-radius: 34px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130.2%;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 30px;
}

.demo-wrapper {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.globe-loader {
  position: relative;
  font-size: 7rem;
  color: #FA8072;
  margin: 4rem;
}

.fas .fa-plane {
  display: block;
  position: absolute;
  font-size: 0.2em;
  height: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: center bottom;
  animation: loader-spin 3s infinite ease-in-out;
}

.fas .fa-plane::before {
  position: relative;
  top: -1.25em;
}

@keyframes loader-spin {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(1turn);
  }
}

.content-401 {
  margin-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #84878B;
  text-align: center;
}

.btn-next {
  margin-left: 10px;
  transform: rotate(180deg);
}

.next-btn {
  margin-left: 10px;
  transform: rotate(180deg);
}